body {
  /* padding: 0; */
  /* margin: 0; */
}

#inputForSearch {
  background-image: url('../icons/search.svg');
  /* Add a search icon to input */
  background-position: 10px 12px;
  /* Position the search icon */
  background-repeat: no-repeat;
  /* Do not repeat the icon image */
  width: 100%;
  /* Full-width */
  font-size: 16px;
  /* Increase font-size */
  padding: 12px 20px 12px 40px;
  /* Add some padding */
  border: 1px solid #7e7e7e;
  /* Add a grey border */
  margin-bottom: 12px;
  /* Add some space below the input */
}

#dataTable {
  border-collapse: collapse;
  /* Collapse borders */
  width: 100%;
  /* Full-width */
  border: 1px solid #7e7e7e;
  /* Add a grey border */
  font-size: 18px;
  /* Increase font-size */
}

#dataTable thead tr {
  background-color: #a19c9c;
  height: 45px;
}

#dataTable tbody tr td,
#dataTable thead tr th {
  text-align: center;
}

#dataTable thead tr th:nth-child(1) {
  width: 5%;
}

#dataTable thead tr th:nth-child(2) {
  width: 25%;
}

#dataTable thead tr th:nth-child(3) {
  width: 25%;
}

#dataTable thead tr th:nth-child(4) {
  width: 25%;
}
#dataTable thead tr th:nth-child(5) {
  width: 10%;
}
#dataTable thead tr th:nth-child(6) {
  width: 10%;
}

#dataTable tbody tr td div>p {
  text-align: left;
  /* Left-align text */
  padding: 0 20px;
  /* Add padding */
}

.data-row {
  height: 45px;
  /* Add a bottom border to all table rows */
  border-top: 1px solid #7e7e7e;
  border-bottom: 1px solid #7e7e7e;
  cursor: pointer;
  /* padding: 18px; */
  outline: none;
}

#dataTable tbody tr.data-row:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}

.hidden-content {
  /* display:none; */
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  transition: height 0.3s ease-out;
}

.up-down {
  width: 30px;
  height: 30px;
  background-image: url('../icons/down.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  /* background-color: gray; */
  background-position: 5px 6px;
  background-size: 20px;

  text-align: center;
  font-size: 18px;
  border-radius: 50%;
  transition: transform 0.2s ease;
  border: none;
  margin-right: 25px;
  cursor: pointer;
}

button.up-down:hover{
  background-color: #a7a0a0;
}

button.collapse {
  transform: rotate(180deg);
}

tr.collapse>td>div {
  height: 100px;
}