/* ________________________________________________input for search style________________________________________ */

#inputForSearch {
   background-image: url('../icons/search.svg');
   background-position: 10px 12px;
   background-repeat: no-repeat;
   width: 100%;
   font-size: 16px;
   padding: 12px 20px 12px 40px;
   border: 1px solid #7e7e7e;
   margin-bottom: 12px;
   border-radius: 5px;
   transition: all 0.2s;
   outline: none;
}

#inputForSearch:focus {
   border: 1px solid #3a5bd3;
   box-shadow: 0 0 5px 0 #7d90de;
}

/* _________________________________________________________main table_______________________________________ */

#dataTable {
   border-collapse: collapse;
   width: 100%;
   font-size: 18px;
   border-radius: 5px;
}

/* _________________________________________________________table header_______________________________________ */

/* #dataTable thead tr , */
.data-header
 {
   background-color: #a19c9c;
   border: 1px solid #7e7e7e;
   height: 45px;
}

#dataTable thead tr th:nth-child(1) {
   width: 5%;
}

#dataTable thead tr th:nth-child(2) {
   width: 25%;
}

#dataTable thead tr th:nth-child(3) {
   width: 25%;
}

#dataTable thead tr th:nth-child(4) {
   width: 25%;
}

#dataTable thead tr th:nth-child(5) {
   width: 10%;
}

#dataTable thead tr th:nth-child(6) {
   width: 10%;
}

#dataTable thead tr th {
   text-align: center;
}

/* _____________________________________________________________table body__________________________________________________ */
/* ____________________________________________________________1:data-title______________________________________________ */


.data-title {
   height: 45px;
   background-color: #f1f1f1;
   /* Add a bottom border to all table rows */
   border-right: 1px solid #7e7e7e;
   border-left: 1px solid #7e7e7e;
   border-bottom: 1px solid #7e7e7e;
   cursor: pointer;
   text-align: center;
}

tr.data-title:hover {
   /* Add a grey background color to the table header and on hover */
   background-color: #ece5e5;
}

/* ______________________________________________________2:data-content_____________________________________________ */

.data-content {
   border-right: 1px solid #7e7e7e;
   border-left: 1px solid #7e7e7e;
   border-bottom: 1px solid #7e7e7e;
   cursor: pointer;
}

.hidden-content {
   display: flex;
   flex-direction: row;
   transition: height 0.3s ease-out;
}

#dataTable tbody tr td div>p {
   text-align: left;
   padding: 0 20px;
}

tr.collapse>td>div {
   height: 0;
   overflow: hidden;
}

tr.expand>td>div {
   /* height: 100px; */
    height: auto;
   overflow: hidden;
}

/* _________________________________________________sub header and content__________________________________________________ */

.data-table {
   border-collapse: collapse;
   /* Collapse borders */
   width: 100%;
   /* Full-width */
   font-size: 18px;
   /* Increase font-size */
   border-radius: 5px;
   margin-left: 30px;
}

.data-sub-header {
   background-color: rgb(31, 26, 26);
   color: white;
   font-size: 16;
   border: 1px solid #7e7e7e;
   height: 37px;
}

.data-sub-content {
   height: 40px;
   /* background-color: #f1f1f1; */
   /* Add a bottom border to all table rows */
   border-right: 1px solid #7e7e7e;
   border-left: 1px solid #7e7e7e;
   border-bottom: 1px solid #7e7e7e;
   cursor: pointer;
   text-align: center;
}

/* _________________________________________________up down button__________________________________________________________ */

button.up-down {
   width: 30px;
   height: 30px;
   background-image: url('../icons/down.svg');
   background-repeat: no-repeat;
   background-color: transparent;
   background-position: 5px 6px;
   background-size: 20px;
   border-radius: 50%;
   transition: transform 0.2s ease;
   border: none;
   margin-right: 25px;
   cursor: pointer;
}

button.up-down:hover {
   background-color: #a7a0a0;
}

button.up {
   transform: rotate(180deg);
}


#dataTable thead tr th {
   text-align: center;
}

#dataTable tbody tr .data-title td {
   text-align: start;
}
